extends common_template

block append_body

  h1 Please Enter Your Name

  div
    span
      input(type='text' id='inputName' placeholder='Your name...' size=25)
    span
      button(id='sendName') Submit Name